# Android / Gradle
.gradle/
build/
**/build/
local.properties

# Android Studio / IntelliJ
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Keystore
*.jks
*.keystore
key.properties

# APK / AAB
*.apk
*.ap_
*.aab

# Generated
captures/
output.json
